@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&family=Roboto&display=swap');

$mainFont:'Roboto', sans-serif;
$secondaryFont:'Red Hat Display', sans-serif;


$textSm: 1rem;
$textMd: 1.3rem;
$textLg: 1.5rem;
$textXl: 2rem;

