.logo{
  width: 80px;
}

.div-container-card {
  padding-bottom: 4rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

.padding-cards-portaf{
  padding-bottom: 3rem;
}

.img-index {
  width: 100%;
  height: 40rem;
  padding-bottom: 4rem;
}

.img-figure {
  width: 10rem;
}

.img-small-index {
  width: 7rem;
}

.div-index {
  padding: 1rem 2rem 5rem 2rem;
  text-align: center;
}

.code-gian {
  padding-top: 2rem;
}

.div-container-portafolio {
  padding: 4rem 3rem 2rem 3rem;
  text-align: center;
}

.img-sobremi {
  width: 20rem;
  height: 15rem;
  text-align: center;
}

.img-contacto {
  width: 100%;
  height: 35rem;
}

.portaf-divs{
  display: flex;
  flex: center;
  justify-content: center;
  padding: 1rem;
}
.portaf-div-1{
  border: 1px solid black;
  padding: 2rem 2rem ;
  margin-left: 1rem;
  margin-right: 0.7rem;
}

.icon-portaf{
  width: 1rem;
  margin-right: 7px;
}

.bg-img{
  background-image: url(../img/fondo1.jpg);
  background-repeat: no-repeat;
}

.img-carrousel-portaf{
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30rem;
  .img-program{
  max-width: 100%;
  }
}

.button-portaf{
  border-radius: 7px;
  padding: 0.2rem 0.7rem;
  background-color: #30DF4D;
}

.color-letter-port{
  color: #00AF1D;
}

.img-carrousel-portaf{
  text-align: center;
  padding-top: 5rem;
}

.carrousel-index{
  width: 100%;
  height: 30rem;
}

.padding-disenamos{
  padding-top: 5rem;
}

.padding-acordeon{
  padding-top: 1rem;
}

.div-presentacion{
  text-align: center;
  padding: 5rem 1rem 5rem 1rem;
}

.padding-index-img{
  padding: 1rem 0rem 0rem 0rem;
}

.img-div{
  width: 21rem;
  height: 16rem;
  padding: 1.2rem 0rem;
}

.display-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.scale:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.cards-mantenimiento2{
  text-align: center;
  padding: 0.90rem 0rem;
}
.cards-mantenimiento1{
  text-align: center;
  padding: 2rem 0rem;
}
.video{
  display: flex;
  justify-content: center;
}



//Contacto
.alineacion-programmer-img{
  display: flex;
  justify-content: center;
  .programmer-img{
  width: 10rem;
  padding-bottom: 2rem;
  padding-top: 3rem;
  }
}

.div-container{
  display: flex;
  justify-content: center;
}

.form-contacto{
  padding: 2rem 2rem;
}

.img-uba{
  padding-left: 6rem;
}

//Nesting-anidacion
.padding-portafolio-cards{
  padding-top: 3rem;
  .padding-img-cards{
    padding-top: 1.7rem;
  }
}

.div-inicio{
  display: flex;
  justify-content: center;
  padding-bottom: 7rem;
  .img1{
    max-width: 100%;
    width: 21rem;
    padding-right: 1rem;
  }
  .img2{
    max-width: 100%;
    width: 19rem;
  }
  .img3{
    max-width: 100%;
    width: 20rem;
    padding-left: 1rem;
  }
  .img-responsive1{
    max-width: 100%;
    width: 21rem;
    padding-right: 1rem;
  }
  .img-responsive2{
    max-width: 100%;
    width: 15.7rem;
  }
  .img-responsive3{
    max-width: 100%;
    width: 17.9rem;
    padding-left: 1rem;
  }
}

//Mixins
@mixin btn($ancho, $alto, $bordes){
  width: $ancho;
  height: $alto;
  border: $bordes;
}
.btn-portafolio{
  @include btn(140px, 35px, none);
  background: #5FF966;
  border-radius: 4px;
  text-align: center;
}

@mixin flexible($dis, $just){
  display: $dis;
  justify-content: $just;
}
.div-index-container{
  @include flexible(flex, center);
}

//Maps
$paleta:(
  'uno':#D1CBCB,
  'dos':#F2F3F4,
  );

.bg-light {
  background-color: map-get($map:$paleta, $key: 'dos')
}

.bg-light2 {
  background-color: map-get($map:$paleta, $key: 'one')
}